<div class="footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>Footer</h1>
            <p>slogan</p>
        </div>
        
            <div class="col-lg-2 ms-auto">
                <a href="#" target="blank"><i class="bi bi-facebook"></i></a>
                <a href="#" target="blank"><i class="bi bi-instagram"></i></a>
                <a href="#" target="blank"><i class="bi bi-whatsapp"></i></a>
                <a href="#" target="blank"><i class="bi bi-youtube"></i></a>

            </div>
       
    </div>
</div>