
<body>



  <form class="modal-content animate" action="/action_page.php" method="post" #loginform="ngForm" (ngSubmit)="loginUser()">
    <small class="danger">{{msg}}</small>
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Email ID</b></label>
      <input type="email" placeholder="Enter Email Id " name="email" required [(ngModel)]="user.emailId">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="user.password">
        
      <button type="submit" >Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" id="id02"  class="cancelbtn" >Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

  



</body>

